
  <main>
<article>
<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <form [formGroup]="firstFormGroup">

      <ng-template matStepLabel>Company/Entity Details</ng-template>

      <mat-form-field>
        <mat-label>Company ID</mat-label>
        <input matInput formControlName="entityid" placeholder="Eg. UNRA" required>
      </mat-form-field>

      <br>
      <mat-form-field>
        <mat-label>Company Name</mat-label>
        <input matInput formControlName="EntityName" placeholder="Eg. UNRA"  required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Company Contact</mat-label>
        <input matInput formControlName="EntityContact" placeholder="Eg. UNRA" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Physical Address</mat-label>
        <input matInput formControlName="PhysicalAddress" placeholder="Eg. UNRA"  required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Email Address</mat-label>
        <input matInput formControlName="EmailAddress" placeholder="Eg. UNRA" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext (click)="submitStepOne()">Next</button>
      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your Personal Details</ng-template>

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Phone Contact</mat-label>
        <input matInput formControlName="Contact" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <input matInput formControlName="gender" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Date Of Birth</mat-label>
        <input matInput formControlName="dob" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Email/User name</mat-label>
        <input matInput formControlName="mail" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="Password" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="createUser()">Create</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>

</article>
</main>
<app-sign-up-details [JsonResult]="apidata"></app-sign-up-details>

